.keybExpand {
    color: white;
}

.keyboard {
    display: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

.keyboardKeyButton {
    margin: 0 2px;
    padding: 3px;
    width: 2.5em;
    height: 2.5em;
    font: inherit;
    font-size: 0.5em;
    background-color: #D7E9EC;
    border: 1px #afafaf;
    appearance: none;
    border-radius: 5px;
}

.keyboardKeyButton:disabled {
    opacity: 50%;
    pointer-events: none;
}

.geezVowels, .geezConsonants {
    margin-bottom: 5px;
}

/* --------- NO HOVER BUTTON COLOR ON PHONE (ELSE BUGGY) --------- */

@media (hover: hover) and (pointer: fine) {
    .keyboardKeyButton:hover {
        cursor: pointer;
        background-color: #3FD695;
    }
}