.saveWordIcon {
  display: inline-block;
  cursor: pointer;
  border: 1;

  height: 46px;
  
  position: absolute;
  right: 9em;
  top: 0.8em;

  background-color: transparent;
  border-color: white;
  color: white;
}

.saveWordIcon.change {
    top: .65em;

    border-color: black;
    color: black;
}

.saveWordPopup {
    display: none;

    background-color: rgb(28, 63, 73);
    color: white;
    margin: 0 1em 1em 1em;
    padding: 1em 0em 0 0em;
    font-size: 0.5em;
    margin-left: max(env(safe-area-inset-left), 1em);
    margin-right: max(env(safe-area-inset-right), 1em);

    /* CG ADD - move feedback button behind settings element */
    position: relative;
    z-index: 10;
    margin-bottom: 0;
    padding-bottom: 0.5em;
}

.savedWordsList a {
    color: white;
}

.savedWordsList a:hover {
    text-decoration: underline;
}

.savedWordsList {
    list-style-type: none;
}

.savedWordsList li {
    margin-top: .6em;
}

.saveWordsButton {
    background-color: #D7E9EC;
    color: black;
    font: inherit;
    padding: 0.1em .5em 0.2em 0.5em;
    margin: 0.2em .8em 0.1em 1em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

/* CG highlight on hover */
.saveWordsButton:hover {
    background-color: #3FD695;
}

/* CG disable design */
.saveWordsButton:disabled {
    background-color: #BFCED0;
    color: #415558;
    cursor: not-allowed;
}

.removeOneSavedWordButton {
    border: 1px solid;
    cursor: pointer;
    display: inline;
    margin-left: .5em;
    padding-left: .2em;
    padding-right: .2em;
    text-align: center;
}

.removeOneSavedWordButton .savedWordsList a:hover {
    text-decoration: underline;
}

/* --------- CG ADD BELOW --------- */ 

.saveMessage {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.25s;
}

.saveMessage.show {
  opacity: 1;
}